body {
    margin: 0px;
    /* overflow: hidden; */
    height: 100%;

}

.grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 750px;
    margin-bottom: 0px;
    

}

.sectionRight {
    
    width: 100%;
    height: auto;
    background-image: url(../img/bg_dot.jpg);
    /* overflow: auto; */
    font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Meiryo, メイリオ", sans-serif;
    font-size: 0.85rem;
    font-weight: bold;
}

.sectionLeft {
    background-image: url(../img/foreign_parts_left.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #5cb6e7;
    /* position: fixed; */
}


.articleArea {
    display: block;
    text-align: center;
    padding: 50px 70px 15px 70px;
}

table,
th,
td {
    border: 1px solid #bbbbbb;
    border-collapse: collapse;
}

table {
    width: 100%;

}

th {
    background-color: #5cb6e7;
    text-align: center;
}

.articleArea>p {
    text-align: left;
}

.footerArea {
    height: auto;
    background-color: white;

}

footer {

    /* padding: 20px 70px; */
}