<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>    
    <table>
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <%= JSON.stringify(students) %>
        <% for(let i=0;i<students.length;i++){ %>
          <tr>
            <td><%= students[i].name %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
